**Python for data science : Intro to Pandas**

In [59]:
import pandas as pd

How to read dataset

1) Load dataset

In [60]:
#this is a  csv hence you use read_csv
data = pd.read_csv('accident.csv')

#For other data format you will use

#FOR EXCEL FILES
#data = pd.read_excel("data.xlsx", sheet_name="Sheet1")

#FOR JSON FILES
#data = pd.read_json("data.json")

2) Read first 5 lins of data

In [61]:
data.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

3) Check size of dataset

In [62]:
data.shape

(200, 6)

4) List your columns

In [63]:
data.columns

Index(['Age', 'Gender', 'Speed_of_Impact', 'Helmet_Used', 'Seatbelt_Used',
       'Survived'],
      dtype='object')

5) Get info about datatypes and missing values

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.5+ KB

6) Statistical summary for numerical values

In [65]:
data.describe()

             Age  Speed_of_Impact   Survived
count  200.00000       197.000000  200.00000
mean    43.42500        70.441624    0.50500
std     14.94191        30.125298    0.50123
min     18.00000        20.000000    0.00000
25%     31.00000        43.000000    0.00000
50%     43.50000        71.000000    1.00000
75%     56.00000        95.000000    1.00000
max     69.00000       119.000000    1.00000

**How to explore and analyse data**

1) Identify data types and missing values

In [66]:
data.isnull().sum()

Age                0
Gender             1
Speed_of_Impact    3
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

2) Cleaning and processing

In [67]:
print(data.duplicated().sum())

data = data.drop_duplicates()

print(data.duplicated().sum())

0
0

3) Handle missing data

In [68]:
#remove rows with missing data
dataCleaned = data.dropna

#or fill with specific value
# df = df.fillna(0)